/* Base styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3f1f5;
    color: #333;
}

/* Sidebar toggle */
#wrapper.toggled #sidebar-wrapper {
    margin-left: -250px;
}

#sidebar-wrapper {
    transition: margin 0.25s ease-out;
}
